html, body {
    height: auto; /* Permitir que crezca con el contenido */
    min-height: 100%; /* Al menos 100% de la ventana */
    max-width: 800px;
    overflow-x: hidden; /* Evitar scroll horizontal */
    overflow-y: auto; /* Permitir scroll vertical */
    margin: 0;
    padding: 0;
    background-color: #d48e5e;
    color: #fac07d;
    font-family: 'Poppins';
}

.main-container {
    overflow-y: auto; /* Permitir scroll vertical */
    padding: 10px;
    width: 800;
    min-height: 100%;
    max-width: 800px;
    margin: 20px auto; /* Añade un margen arriba y abajo para evitar que todo esté comprimido */
    background-color: #332007;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.result-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto; /* Permitir que la altura crezca con el contenido */
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-radius: 10px;
    overflow: hidden;
    background-color: #332007;
}

.result-container p {
    display: block; /* Asegura que los párrafos se comporten como elementos en bloque */
    margin: 10px 0; /* Añade un espacio entre los elementos */
}


result-canvas {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    border: 2px solid #7e1313;
    pointer-events: none;
    background-color: #332007;
    z-index: 10;

    width: 100%; /* Adjust to 100% of the container or window */
    height: auto; /* Keep the aspect ratio */
    display: block; /* Prevent any extra space below the canvas */
    max-width: 100vw; /* Canvas won't exceed the window's width */
    max-height: 100vh; /* Canvas won't exceed the window's height */
    border: 1px solid black;    
    border-radius: 10px;
}


h3 {
    margin-bottom: 20px;
    color: #568b4b;
    font-size: 24px;
}

.upload-container {
    margin-bottom: 20px;
}

.file-input {
    display: none;
}

.button {
    width: 50px;  /* Set width of the image */
    height: 50px; /* Set height of the image */
    min-width: 50px;  /* Set width of the image */
    max-width: 50px;  /* Set width of the image */
    min-height: 50px; /* Set height of the image */
    max-height: 50px; /* Set height of the image */
    background-size: contain; 
    background-position: center; /* Center the image */
    background-color: #34acdb88;
    display: inline-block; /* To make it act as an image replacement */
    cursor: pointer; /* Add a pointer cursor */
    border-radius: 5px; /* Optional for rounded corners */
    border: 2px solid #6e7274;
    transition: border 0.3s ease; 
}

.button:hover {
    border: 2px solid #34acdb;
}

.button:active {
    border: 2px solid #c4452f;
}

.button-sensitivity-less {
    background-image: url('../images/icon_count_less.png');
}

.button-sensitivity-more {
    background-image: url('../images/icon_count_more.png');
}

.button-open-photo {
    background-image: url('../images/icon_open_photo.png');
}

.button-open-camera {
    background-image: url('../images/icon_open_camera.png');
}


.controls label {
    font-size: 18px;
    color: #34495e;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 300px;
    margin: 10px auto;
}

.slider {
    width: 100px; /* Set the desired width */
    max-width: 100px;
}

.slider-text {
    font-size: 14px;
    color: #7f8c8d;
}

input[type="range"] {
    width: 100%;
    margin: 0 15px;
}

.object-count {
    font-size: 18px;
    color: #27ae60;
    font-weight: bold;
    margin-top: 20px;
}


/* Estilos para el indicador de carga */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-bottom: 15px;
}

#statusMessage {
    font-size: 18px;
    color: #333;
}

.hidden {
    display: none; /* Clase para ocultar el canvas */
}

.sensitivity-container {
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 300px;
    margin: 10px auto;
}

.image-set {
    position: relative;
    border: 2px solid #ecf0f1;
    border-radius: 10px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-set img {
    display: block;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 60%;
    border-radius: 10px;
    z-index: 0;
}

.image-set canvas {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    background-color: transparent;
    width: 100%;
    min-height: 60%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
        min-height: 100%;
        padding: 10px;
    }
}

.hidden {
    display: none; /* Clase para ocultar el canvas */
}